x-metabase-image: &metabase-image metabase/metabase:${METABASE_VERSION:-v0.58.x}
x-postgres-image: &postgres-image postgres:${POSTGRES_VERSION:-18.1-alpine}

x-metabase-common: &metabase-common
  image: *metabase-image
  user: "${MUID:-2000}:${MGID:-2000}"
  environment:
    MB_DB_TYPE: postgres
    MB_DB_HOST: metabase-db
    MB_DB_PORT: 5432
    MB_DB_DBNAME: metabase
    MB_DB_USER: metabase
    MB_DB_PASS: metabase
    MB_PLUGINS_DIR: ${MB_PLUGINS_DIR:-/app/plugins}
    MUID: ${MUID:-2000}
    MGID: ${MGID:-2000}
  volumes:
    - vol-metabase-data:/metabase-data
    - vol-metabase-plugins:${MB_PLUGINS_DIR:-/app/plugins}

services:
  metabase-db:
    image: *postgres-image
    container_name: metabase-db
    environment:
      POSTGRES_USER: 'metabase'
      POSTGRES_PASSWORD: 'metabase'
      POSTGRES_DB: 'metabase'
    ports:
      - '5433:5432'
    volumes:
      - vol-metabase-db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 3s
      retries: 3
    restart: on-failure

  metabase:
    <<: *metabase-common
    container_name: metabase
    ports:
      - 3000:3000
    depends_on:
      metabase-db:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:3000/api/health"]
      interval: 5s
      timeout: 10s
      retries: 5
    restart: on-failure

volumes:
  vol-metabase-db:
    name: vol-metabase-db
  vol-metabase-data:
    name: vol-metabase-data
  vol-metabase-plugins:
    name: vol-metabase-plugins
