name: spark

x-spark-image: &spark-image spark:${SPARK_VERSION:-4.0.1-scala2.13-java21-python3-ubuntu}

x-spark-common: &spark-common
  image: *spark-image
  user: "185"
  volumes:
    - vol-spark-extra-jars:/opt/spark/jars/extra
  restart: on-failure

x-spark-worker-common: &spark-worker-common
  <<: *spark-common
  command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
  depends_on:
      spark-master:
        condition: service_started

services:
  spark-master:
    <<: *spark-common
    container_name: spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    ports:
      - '4040:8080' # Spark Master WebUI port (4040 → 8080 in Spark 4.x)
      - '7077:7077'

  spark-worker-1:
    <<: *spark-worker-common
    container_name: spark-worker-1
    ports:
      - '4041:8081'  # Spark Worker WebUI port (4041 → 8081 in Spark 4.x)

  spark-worker-2:
    <<: *spark-worker-common
    container_name: spark-worker-2
    ports:
      - '4042:8081'  # Spark Worker WebUI port (4042 → 8081 in Spark 4.x)

volumes:
  vol-spark-extra-jars:
    name: vol-spark-extra-jars
